body{
    color: white;
    background-color: black;
    font-family: sans-serif;
    text-align: center;
}

.queryBox{
    padding: 0.8em;
    font-size: 1.5em;
    border-color : white;
    border-width : 4px;
    border-style : solid;
}

@keyframes slideDownIn {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.popBox{
    animation: slideDownIn .5s ease-out forwards;
}

#title{
    height:auto;
    background-color:#04ff0057;
    margin-top:3px;
    padding-bottom: 0.5%;
    font-size: 5em;
    text-align: center;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

img.logo{
   aspect-ratio: auto;
    height: 50em;
}

.linkHolderOuter{
    display: flex;
    justify-content: center;
    padding: 2em;
}

.linkHolderInner{
    padding: 1em;
    background-color: rgba(0, 151, 168, 0.34);
}

a:link{
    color:#00D0FF;
    text-decoration: none;
}
a:visited{color:#00D0FF;}

.linkContent{
    padding: 1em;
    font-size: 4em;
    font-weight: bold;
    background-color: rgba(0, 89, 255, 0.34);
    color: white;
}

.linkContent:hover{
    background-color: #16c5d6;
}

#logBody {
    color: white;
    font-family: sans-serif;
    padding: 1em;
    background-color: #00e7ff30;
    border-radius: 1em;
}

.labels{
    background-color: rgba(190, 11, 241, 0.34);
    margin-top:2em;
    margin-bottom:1em;
    padding-bottom:1%;
    font-size: 1.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}
.labelContainer{
    text-align: left;
}

.assignment{
    background-color: #00e7ff30;
    padding: 0.5em;
    border-radius: 3em;
    margin: 0.4em;
}